extends header-user.pug

//- List of Articles
block section-top-article
	section.page-top.top-article.blue-section
		div.container
			div.row
				div.col-xs-12
					div.breadcrumb-block
						ul.breadcrumb
							li 
								a(href="#") Главная
							li.active Статьи
					div.top
						h1.blue-h1 Статьи
block section-articles-list
	section.articles-list
		div.container
			div.row
				div.col-xs-12.col-sm-8.col-md-9
					div.articles-inner
						div.article
							div.text
								div.title Как повысить рейтинг исполнителя на сайте?
								div.descr 
									p Повышение и понижение рейтинга зависит от количества выполненных вами работ. Оно пропорционально оценкам ваших заказчиков и рассчитывается по формуле 
										a(href="#") читать далее…
						div.article.with-image
							div.image
								a(href="#")
									img(src="images/stubs/article-img1.png")
							div.text
								div.title Как стать экспертом?
								div.descr 
									p Статус эксперта присваивается мастеру, если у него есть более чем пять лет опыта работы в области. Статус эксперта присваивается мастеру, если у него есть более чем пять лет опыта работы в области 
										a(href="#") читать далее…
						div.article
							div.text
								div.title Для чего становиться экспертом?
								div.descr 
									p Пользователь со статусом эксперт имеет дополнительные возможности оценки стоимости и необходимых работ для заказчиков. Пользователь со статусом эксперт имеет дополнительные возможности оценки стоимости и необходимых работ для заказчиков со статусом эксперт имеет дополнительные  
										a(href="#") читать далее…
						div.article
							div.text
								div.title Как повысить рейтинг исполнителя на сайте?
								div.descr 
									p Повышение и понижение рейтинга зависит от количества выполненных вами работ. Оно пропорционально оценкам ваших заказчиков и рассчитывается по формуле 
										a(href="#") читать далее…
						div.article.with-image
							div.image
								a(href="#")
									img(src="images/stubs/article-img1.png")
							div.text
								div.title Как стать экспертом?
								div.descr 
									p Статус эксперта присваивается мастеру, если у него есть более чем пять лет опыта работы в области. Статус эксперта присваивается мастеру, если у него есть более чем пять лет опыта работы в области 
										a(href="#") читать далее…
						div.article
							div.text
								div.title Для чего становиться экспертом?
								div.descr 
									p Пользователь со статусом эксперт имеет дополнительные возможности оценки стоимости и необходимых работ для заказчиков. Пользователь со статусом эксперт имеет дополнительные возможности оценки стоимости и необходимых работ для заказчиков со статусом эксперт имеет дополнительные  
										a(href="#") читать далее…
						div.divider
						nav.pagination-inner
							ul.pagination
								li.disabled
									a(href="#" aria-label="Предыдущая")
										i.fa.fa-caret-left
								li.active
									a(href="#") 1
								li
									a(href="#") 2
								li
									a(href="#") 3
								li
									a(href="#") ...
								li
									a(href="#") 13
								li
									a(href="#") 14
								li
									a(href="#") 15
								li
									a(href="#" aria-label="Следующая")
										i.fa.fa-caret-right
				div.col-xs-12.col-sm-4.col-md-3
					div.sidebar.banners
						div.banner.stub-class
							div.h5 Рекламный баннер
						div.banner.stub-class
							div.h5 Рекламный баннер

