extends header-user.pug

//- List of Articles
block section-top-article
	section.page-top.top-article.blue-section
		div.container
			div.row
				div.col-xs-12
					div.breadcrumb-block
						ul.breadcrumb
							li 
								a(href="#") Главная
							li 
								a(href="#") Статьи
							li.active Вестник Сахалина - наш новый партнер
					div.top
						h1.blue-h1 Вестник Сахалина - наш новый партнер
block section-single-article
	section.single-article
		div.container
			div.single-article-body
				img.left(src="images/stubs/article-img2.png")
				p Повседневная практика показывает, что сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития. Разнообразный и богатый опыт рамки и место обучения кадров позволяет выполнять важные задания по разработке систем массового участия.
				p Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям. Значимость этих проблем настолько очевидна, что рамки и место обучения кадров способствует подготовки и реализации существенных финансовых и административных условий. Равным образом рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в 
				p отношении поставленных задач. Задача организации, в особенности же начало повседневной работы по формированию позиции позволяет оценить значение соответствующий условий активизации. Равным образом новая модель организационной деятельности требуют от нас анализа новых предложений. Идейные соображения высшего порядка, а также новая модель организационной деятельности способствует подготовки и реализации системы обучения кадров, соответствует насущным потребностям.
				p Не следует, однако забывать, что реализация намеченных плановых заданий способствует подготовки и реализации дальнейших направлений развития. Товарищи! реализация намеченных плановых заданий способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач. Разнообразный и богатый опыт постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке новых предложений. Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности позволяет выполнять важные задания по разработке модели развития. Таким образом дальнейшее развитие различных форм деятельности требуют от нас анализа системы обучения кадров, соответствует насущным потребностям.
				p Не следует, однако забывать, что начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач. Задача организации, в особенности же дальнейшее развитие различных форм деятельности играет важную роль в формировании форм развития. Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности играет важную роль в формировании систем массового участия. Значимость этих проблем настолько очевидна, что рамки и место обучения кадров представляет собой интересный эксперимент проверки соответствующий условий активизации. Таким образом постоянный количественный рост и сфера нашей активности требуют от нас анализа направлений прогрессивного развития.
				div.date
					| 16 апреля 2017
block section-photo-gallery
	section.photo-gallery
		div.container
			div.gallery-inner
				div.gallery-photos-list
					div.gallery-photo
						a(href="#" data-toggle="modal" data-target="#fullPhotoModalGallery")
							img.left(src="images/stubs/gallery1.png")
					div.gallery-photo
						a(href="#" data-toggle="modal" data-target="#fullPhotoModalGallery")
							img.left(src="images/stubs/gallery2.png")
					div.gallery-photo
						a(href="#" data-toggle="modal" data-target="#fullPhotoModalGallery")
							img.left(src="images/stubs/gallery1.png")
					div.gallery-photo
						a(href="#" data-toggle="modal" data-target="#fullPhotoModalGallery")
							img.left(src="images/stubs/gallery2.png")
					div.gallery-photo
						a(href="#" data-toggle="modal" data-target="#fullPhotoModalGallery")
							img.left(src="images/stubs/gallery1.png")
					div.gallery-photo
						a(href="#" data-toggle="modal" data-target="#fullPhotoModalGallery")
							img.left(src="images/stubs/gallery2.png")
block section-block-tags
	section.block-tags
		div.container
			div.tags-inner
				span.tag.article
					a(href="#") #партнеры
				span.tag.article
					a(href="#") #Сахалин
				span.tag.article
					a(href="#") #СМИ
				span.tag.article
					a(href="#") #партнеры
				span.tag.article
					a(href="#") #Сахалин
				span.tag.article
					a(href="#") #СМИ