extends modals.pug

block footer
	//- Footer
	footer.footer
		//- footer-top
		div.footer-top
			div.container
				div.row
					div.col-xs-12.col-sm-12.col-md-6
						div.footer-left
							div.socials
								a(href='#')
									i.fa.fa-vk
								a(href='#')
									i.fa.fa-twitter
								a(href='#')
									i.fa.fa-facebook
								a(href='#')
									i.fa.fa-paper-plane
							div.contacts
								div.hint бесплатная горячая линия
								div.phone
									span.num 8 800 6781 55 12
									span.city г. Южно-Сахалинск
								div.email Электронная почта:
									a(href='mailto:support@servicemall.com') support@servicemall.com
							div.mobile
								div.h4 Удобное мобильное приложение!
								div.app-store
									a(href='#')
								div.google-play
									a(href='#')
					div.col-xs-12.col-sm-12.col-md-6
						div.footer-right
							div.row
								div.col-xs-12.col-sm-6.col-md-6
									div.links
										div.h4  Поддержка
										ul.footer-links
											li
												a(href='#') Правила сервиса
											li
												a(href='#') Как это работает?
											li
												a(href='#') Частые вопросы
											li
												a(href='#') Безопасность и гарантии

								div.col-xs-12.col-sm-6.col-md-6
									div.links
										div.h4  О компании
										ul.footer-links
											li
												a(href='#') Какова наша миссия?
											li
												a(href='#') Партнерам
											li
												a(href='#') Доступные вакансии
											li
												a(href='#') Контакты
		//- footer-bottom
		div.footer-bottom
			div.container
				div.row
					div.col-xs-12
						div.copyright Copyright © 2017 Service Mall 
