extends header-user.pug

//- Make Order Sections
block section-top-order-preview
	section.page-top.top-order-preview.blue-section
		div.container
			div.row
				div.col-xs-12
					div.breadcrumb-block
						ul.breadcrumb
							li 
								a(href="#") Главная
							li 
								a(href="#")  Создание заказа
							li.active Предварительный просмотр заказа
					div.top
						h1.blue-h1 Предварительный просмотр заказа
block section-create-order-edit
	//- Класс .error-section придается блоку при ошибке валидации
	section.create-order.create-order-edit.green-section
		div.container
			div.row
				div.col-xs-12
					div.selected-category
						div.h3 
							i.fa.fa-check
							| Изготовление и ремонт мебели / Шкафы
					div.form
						//- Класс error придается fieldset при ошибке валидации
						fieldset.form-group.with-label
							div.text-error.left Вам необходимо указать заголовок для задания
							label.form-label.thin.block.large Мне нужно
							input.form-control(type="text" value="Отремонтировать старый шкаф и переобить диван")
							i.fa.fa-exclamation.m5
						div.chosen-implementer
							div.call-expert-button
								button.btn.btn-small.btn-blue.disabled
									i.fa.fa-plus
									| Привлечь эксперта
							div.h5.strong
								i.fa.fa-user
								| За заказом закреплен выбранный эксперт: 
							div.row
								div.col-xs-12.col-sm-12.col-md-7
									div.implementer-short-card
										div.row
											div.col-xs-3.col-sm-3
												div.avatar
													img(src="images/stubs/avatar.png")
											div.col-xs-9.col-sm-9
												div.info
													div.name Максим Григориевич Гарин
													div.old 39 лет, г. Южно-Сахалинск
													div.rating
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star
														//- Класс .master и .expert расставляются согласно статусупользователя
														span.status.expert 
															i.icon
															| Эксперт
													div.orders
														span.strong 144 заказа
														| 
														span – 1100 р/час.
								div.col-xs-12.col-sm-12.col-md-5
									div.remove-expert-button
										button.btn.btn-small.btn-blue
											i.fa.fa-remove
											| Отказаться от эксперта
						//- Класс error придается fieldset при ошибке валидации
						fieldset.form-group.textarea-with-button.with-label
							div.text-error.left Обязательно подробно опишите ваше задание
							label.form-label.thin.block.large Детали задачи и ваши пожелания
							div.textarea-with-button
								textarea.form-control(type="text" rows="8") Нужно починить старый бабушкин шкаф (подкрутить дверцы, починить вдывижные ящики, полки) и переобить выдвижной каркасный диван. Материалы куплены, есть степлер для мебели. нужен человек с опытом 1-2 года, который сумеет выполнить работу за 1 день.
								//- Класс .active придается кнопке .private-info при ее нажатии.
								button.btn.private-info.active
									i.fa.fa-lock
									| Приватная информация
							i.fa.fa-exclamation.m5
						div.photo-inner
							button.btn.add-photo.btn-green 
								i.fa.fa-plus
								i.fa.fa-camera
							//- Блок .drag-n-drop появляется только при перетасквании изображений в окно браузера
							div.drag-n-drop Перетащите сюда выбранные фотографии
							div.downloads
								div.dop-row
									div.one-fifth
										div.photo-miniature
											a.strech-img
												img(src="images/stubs/stub1.png")/
												a.photo-miniature-delete(href="#")
												div.photo-miniature-descr Старый диван, который необходимо перетянуть
									div.one-fifth
										div.photo-miniature
											a.strech-img 
												img(src="images/stubs/stub2.png")/
												a.photo-miniature-delete(href="#")
												div.photo-miniature-descr Ожидаемый результат
									div.one-fifth
										div.photo-miniature-add
											a.add-image
												i.fa.fa-plus
												span Добавить фото
						div.start-finish-date
							div.row
								div.col-xs-12.col-sm-12.col-md-5
									div.start-date
										fieldset.form-group.with-label
											label.form-label.thin.block.large Дата начала работ
											div.row
												div.col-xs-7
													div.icon-input
														input.form-control(type="text" placeholder="Дата" value="14.07.2015")/
														i.fa.fa-calendar.input-i
														a.bottom-link сегодня
														a.bottom-link завтра
												div.col-xs-5
													div.icon-input
														input.form-control(type="text" placeholder="Время")/
														i.fa.fa-clock-o.input-i
								div.col-xs-12.col-sm-12.col-md-5
									div.create-finish-date.hide
										div.checkbox
											label 
												input(type="checkbox")/ 
												| Указать дату окончания работ
												div.check
									//- При активации чек-бокса появляется форма для выбора даты. .hide скрывает, .visible открывает
									div.finish-date.visible
										fieldset.form-group.with-label
											label.form-label.thin.block.large Дата окончания работ
											div.row
												div.col-xs-7
													div.icon-input
														input.form-control(type="text" placeholder="Дата" value="16.07.2015")/
														i.fa.fa-calendar.input-i
														a.bottom-link сегодня
														a.bottom-link завтра
												div.col-xs-5
													div.icon-input
														input.form-control(type="text" placeholder="Время")/
														i.fa.fa-clock-o.input-i
						fieldset.form-group.with-label
							label.form-label.thin.block.large Адрес
							div.icon-input
								input.form-control(type="text" placeholder="Улица, дом, строение, корпус, квартира" value="Ул. Ленина, д. 45а, кв. 44")/
								i.fa.fa-map-marker.input-i
								a.bottom-link Добавить еще один адрес
//- Choose Budget
block section-order-budget
	//- Класс .error-section придается блоку при ошибке валидации
	section.order-budget.blue-section.gray-color
		div.container
			div.row
				div.col-xs-12
					div.form
						div.text-error.left Если вы выбрали «Бюджет», то необходимо указать сумму
						div.row
							div.col-xs-12.div.col-sm-12.col-md-4
									div.order-budget-list
										div.radio
											label 
												input(type="radio" name="price" checked)/ 
												| Бюджет
												div.check
										div.radio
											label 
												input(type="radio" name="price")/ 
												| Ориентировочная стоимость
												div.check
										div.radio
											label 
												input(type="radio" name="price")/ 
												| Предложите цену сами
												div.check
							div.col-xs-12.div.col-sm-12.col-md-4
								//- Отображается только при выборе первых двух вариантов бюджета
								div.order-budget-price
									//- Класс error придается fieldset при ошибке валидации
									fieldset.form-group.with-label
										label.form-label.thin.block.large Сумма
										input.input.form-control(type="text" placeholder="1000" value="7000")
										label.form-label.thin.large.currency руб.
										i.fa.fa-exclamation.m2
block section-order-preview-actions
	section.order-preview-actions.blue-section
		div.container
			div.divider.divider-dotted.divider-blue
			div.buttons-inner.right
				div.divider.divider-transperent
				button.btn.btn-small.btn-round.btn-red
					i.fa.fa-trash
					| Удалить
				button.btn.btn-small.btn-round.btn-green 
					i.fa.fa-edit
					| Редактировать
				button.btn.btn-small.btn-round.btn-blue 
					i.fa.fa-check
					| Опубликовать