extends header-user.pug

//- List of Articles
block section-top-article
	section.page-top.top-article.blue-section
		div.container
			div.row
				div.col-xs-12
					div.breadcrumb-block
						ul.breadcrumb
							li 
								a(href="#") Главная
							li.active Новости
					div.top
						h1.blue-h1 Новости
block section-news-list
	section.news-list
		div.container
			div.row
				div.col-xs-12.col-sm-8.col-md-9
					div.news-inner
						div.article
							div.text
								div.title 
									a(href="#") Более 15 000 участников!
									span.date
										| 16 апреля 2017
								div.descr 
									p За прошлую неделю к нам присоединились 1560 новых исполнителей. И 140 из них успели получить высокие оценки от заказчиков. За прошлую неделю к нам присоединились 1560 новых исполнителей. И 140 из них успели получить высокие оценки от заказчиков
										a(href="#") подробнее…
						div.article.with-image
							div.image
								a(href="#")
									img(src="images/stubs/article-img2.png")
							div.text
								div.title 
									a(href="#") Вестник Сахалина - наш новый партнер
									span.date
										| 11 апреля 2017
								div.descr 
									p Теперь мы работаем в партнерстве с изданием «Вестник Сахалина» и в перспективе на сайте будут особая система поощрений для исполнителей в категории журналистики и копирайтинга – они смогут повышать рейтинг
										a(href="#") подробнее…
						div.article
							div.text
								div.title 
									a(href="#") Новые категории услуг на нашем сервисе
									span.date
										| 8 апреля 2017
								div.descr 
									p На сайте появились новые категории для заказчиков и исполнителей: интернет-маркетинг, разработка мобильных приложений, разработка сайтов, smm. На сайте появились новые категории для заказчиков и исполнителей: интернет
										a(href="#") подробнее…
						div.article
							div.text
								div.title 
									a(href="#") Более 15 000 участников!
									span.date
										| 16 апреля 2017
								div.descr 
									p За прошлую неделю к нам присоединились 1560 новых исполнителей. И 140 из них успели получить высокие оценки от заказчиков. За прошлую неделю к нам присоединились 1560 новых исполнителей. И 140 из них успели получить высокие оценки от заказчиков 
										a(href="#") подробнее…
						div.article.with-image
							div.image
								a(href="#")
									img(src="images/stubs/article-img2.png")
							div.text
								div.title 
									a(href="#") Вестник Сахалина - наш новый партнер
									span.date
										| 11 апреля 2017
								div.descr 
									p Теперь мы работаем в партнерстве с изданием «Вестник Сахалина» и в перспективе на сайте будут особая система поощрений для исполнителей в категории журналистики и копирайтинга – они смогут повышать рейтинг
										a(href="#") подробнее…
						div.article
							div.text
								div.title 
									a(href="#") Новые категории услуг на нашем сервисе
									span.date
										| 8 апреля 2017
								div.descr 
									p На сайте появились новые категории для заказчиков и исполнителей: интернет-маркетинг, разработка мобильных приложений, разработка сайтов, smm. На сайте появились новые категории для заказчиков и исполнителей: интернет
										a(href="#") подробнее…
						div.divider
						nav.pagination-inner
							ul.pagination
								li.disabled
									a(href="#" aria-label="Предыдущая")
										i.fa.fa-caret-left
								li.active
									a(href="#") 1
								li
									a(href="#") 2
								li
									a(href="#") 3
								li
									a(href="#") ...
								li
									a(href="#") 13
								li
									a(href="#") 14
								li
									a(href="#") 15
								li
									a(href="#" aria-label="Следующая")
										i.fa.fa-caret-right
				div.col-xs-12.col-sm-4.col-md-3
					div.sidebar.banners
						div.banner.stub-class
							div.h5 Рекламный баннер
						div.banner.stub-class
							div.h5 Рекламный баннер

