extends header.pug

//- Become Implementer Questionary
block section-top-personal-questionary
	section.page-top.top-personal-questionary.blue-section.success-section
		div.container
			div.row
				div.col-xs-12
					div.breadcrumb-block
						ul.breadcrumb
							li 
								a(href="#") Главная
							li 
								a(href="#") Личный кабинет
							li.active Мои заказы
					div.top-search
						h1.blue-h1 Мои заказы
block section-profile-tabs
	section.profile-tabs.gray-section 
		div.container
			div.tabs-block.profile
				div.tab
					a(href="#")
						i.fa.fa-user
						| Личный кабинет
				div.tab.selected
					a(href="#")
						i.fa.fa-list
						| Мои заказы
				div.tab
					a(href="#")
						i.fa.fa-wrench
						| Работа
block section-my-orders-list
	section.my-orders-list
		div.container
			div.item.order.item-list
				div.table
					div.item-divider
						div.line
							div.item.title
								span Актуальные
					div.item-header
						div.line
							div.item.name Заголовок задания
							div.item.price Цена
							div.item.status Статус
							div.item.imp Исполнитель
							//- классы .up и .down выводят разные иконки для смены сортировки
							div.item.date.filter.up
								button.btn-no-style Дата
									i.fa.fa-sort-amount-asc
									i.fa.fa-sort-amount-desc
					div.item-divider
						div.line
							div.item
					a.item-line(href="#")
						div.line
							div.item.name Починить забор частного дома
							div.item.price 6700 руб.
							div.item.status.yellow Поиск исполнителя
							div.item.imp 
							div.item.date 16 мая 2017
					div.item-divider
						div.line
							div.item
					a.item-line(href="#")
						div.line
							div.item.name Отнести документы в налоговую
							div.item.price ≈ 400 руб.
							div.item.status.green Выполняется
							div.item.imp Алексей Федорищев
							div.item.date 15 мая 2017
					div.item-divider
						div.line
							div.item
					a.item-line(href="#")
						div.line
							div.item.name Вывезти мусор из сарая
							div.item.price 800 руб.
							div.item.status.red Отменено
							div.item.imp Равшан Алифардиев
							div.item.date 15 мая 2017
					div.item-divider
						div.line
							div.item
					a.item-line(href="#")
						div.line
							div.item.name Написать курсовую по морской экологии
							div.item.price 11000 руб.
							div.item.status.blue Ожидает принятия
							div.item.imp Елена Горовая
							div.item.date 10 апр 2017
					div.item-divider
						div.line
							div.item.title
								span Архив
					div.item-header
						div.line
							div.item.name Заголовок задания
							div.item.price Цена
							div.item.status Статус
							div.item.imp Исполнитель
							//- классы .up и .down выводят разные иконки для смены сортировки
							div.item.date.filter.up
								button.btn-no-style Дата
									i.fa.fa-sort-amount-asc
									i.fa.fa-sort-amount-desc
					div.item-divider
						div.line
							div.item
					a.item-line(href="#")
						div.line
							div.item.name Починить забор частного дома
							div.item.price 6700 руб.
							div.item.status.blue Выполнено
							div.item.imp Алексей Федорищев
							div.item.date 16 мая 2017
					div.item-divider
						div.line
							div.item
					a.item-line(href="#")
						div.line
							div.item.name Отнести документы в налоговую
							div.item.price ≈ 400 руб.
							div.item.status.blue Выполнено
							div.item.imp Алексей Федорищев
							div.item.date 15 мая 2017
					div.item-divider
						div.line
							div.item
					a.item-line(href="#")
						div.line
							div.item.name Вывезти мусор из сарая
							div.item.price 800 руб.
							div.item.status.red Отменено
							div.item.imp Равшан Алифардиев
							div.item.date 15 мая 2017
					div.item-divider
						div.line
							div.item
					a.item-line(href="#")
						div.line
							div.item.name Написать курсовую по морской экологии
							div.item.price 11000 руб.
							div.item.status.blue Выполнено
							div.item.imp Елена Горовая
							div.item.date 10 апр 2017
			nav.pagination-inner
				ul.pagination
					li.disabled
						a(href="#" aria-label="Предыдущая")
							i.fa.fa-caret-left
					li.active
						a(href="#") 1
					li
						a(href="#") 2
					li
						a(href="#") 3
					li
						a(href="#") ...
					li
						a(href="#") 13
					li
						a(href="#") 14
					li
						a(href="#") 15
					li
						a(href="#" aria-label="Следующая")
							i.fa.fa-caret-right